templates/ExtractCanvasAPI/ExtractCanvasAPI.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"Canvas Courses": {
			"type": "string"
		},
		"AzurePostgreSql1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractCanvasAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FetchCanavsCourseData",
						"description": "https://canvas.instructure.com",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Authorization": "@linkedService().accessToken"
							},
							"url": "https://canvas.instructure.com/api/v1/courses"
						}
					},
					{
						"name": "StoreDataSQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FetchCanavsCourseData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE [dbo].[Courses]\n",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CourseDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzurePostgreCourse",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CourseDataset')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreCourse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CourseDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Canvas Courses')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreCourse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzurePostgreSql1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "course_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "sis_course_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "grading_standard_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "hide_final_grades",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "account_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "workflow_state",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_public",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "default_view",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "enrollment_term_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "public_syllabus",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storage_quota_mb",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "apply_assignment_group_weights",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "integration_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "courses"
				}
			},
			"dependsOn": []
		}
	]
}